/*  your css code here. If applicable */
.p1{
	background-color: yellow;
	border: 1px solid;
	border-color: green;
}

/*  your css code here. If applicable */
.p2{
	background-color: red;
	border: 1px solid;
	border-color: back;
}

/*  your css code here. If applicable */
.p3{
	background-color: green;
	border: 1px solid;
	border-color: yellow;
}