/*  your css code here. If applicable */
#yellow{
	background-color: yellow;
	border: 1px solid;
	border-color: green;
}

/*  your css code here. If applicable */
#red{
	background-color: red;
	border: 1px solid;
	border-color: back;
}

/*  your css code here. If applicable */
#green{
	background-color: green;
	border: 1px solid;
	border-color: yellow;
}